{% extends 'categorias.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fecha</title>
</head>
<body>
  {% block nav_2 %}  
  
  <header class="main_h">
    <div class="menufix"> <a class="logo" href="index.html"><img src="{% static 'images/sii.png' %}" alt=""></a>
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      
      <nav>
        
        <ul> 
            <li class="line"><a class="out animsition-link" href="{% url 'post:post' %}"> Buscar por Categoria</a></li>

        </ul>
        <ul > 
          
          <form class="d-flex mt-2"> 
           
            <input type="date" name="buscar_fecha" > 
            <button type="submit"> Buscar</button>
        
        </form>
      
        </ul>
        <ul>
          <li class="line"><a class="out animsition-link" href="{% url 'post:index' %}">Principal</a></li>
        <li class="line"><a class="out animsition-link" href="{% url 'post:post' %}">Publicaciones </a></li> 
        
        </ul>
       
      </nav>
    </div>

<!-- / row --> 
</header>
  
  
  
  
  {% endblock nav_2 %}

   {% include 'navegacion.html' %} 
  

  {% block cuerpo %}
  
            
          
  {% if post %}                               
  {% for pos in post %} 
    
  <div class="grid flex16 ">
    <div class="row">
      <div class="col_4 beta">
        <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInLeftBig;"></div>
        <div class="boxwsha column3" style="height: 585px;">
          <div class="zoomimg" id="gallery-1">
            <div class="zoom-wrap" data-responsive="{{ pos.imagen.url }}" data-src="{{ pos.imagen.url }}" data-sub-html="<h4>Fin de la Pobreza</h4>"> <a href="" class="fixico"><i class="fa fa-search fa-2x"></i></a> <img src="{{ pos.imagen.url }}" alt="Fin Pobreza" class="full-width"> <span class="fadef"></span> </div>
            <!-- END data-responsive --> 
           
          </div>
          <!-- END .zoomimg #lightgallery  -->
          <div class="clear"></div>
          <div class="col_6">
            <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">{{ pos.fecha_creacion }}</span> <a href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/" class="linkline">by ONU</a> </div>
            <!-- END date --> 
          </div>
          <!-- END col_6 -->
          
          <div class="col_6">
            <div class="soc-wrap">
              <ul class="blogsocico">
                <li class="facebook"> <a rel="nofollow" href="http://www.facebook.com/" target="_blank" title="facebook"> </a></li>
                <li class="googleplus"> <a rel="nofollow" href="https://plus.google.com/" target="_blank" title="googleplus"> </a></li>
                <li class="twitter"> <a rel="nofollow" href="http://twitter.com/" target="_blank" title="twitter"> </a></li>
              </ul>
            </div>
            <!-- soc Wrap --> 
          </div>
          <!-- END col_6 -->
          <div class="clear"></div>
          <h3 class="title-post">{{ pos.titulo }}</h3>
          <p class="textlimit">{{ pos.descripcion }}</p>
          <div class="clear"></div>
          <div class="fix-btn-blog"> <a href="{% url 'account:sesion' %}" class="istria-btn trigger2">Agregar Comentario</a>
            <div class="istria-over"></div>
            <div class="istria-line left">
              <div class="inner"></div>
            </div>
            <!-- END istria-line left -->
            <div class="istria-line right">
              <div class="inner"></div>
            </div>
            <!-- END istria-line right --> 
          </div>
          <!-- END fix-btn --> 
          
        </div>
        <!-- END boxwsha --> 
      </div>
      <!-- END col_4 -->

      
  <div class="col_4 beta">
    <h1>{{pos.contenido }}</h1>
   
  </div>

  
  </div>
 </div>
</br>

  {% endfor %} 
 {% if fecha %} 
    {% for item in fecha %} 
      
   <div class="grid flex16 ">
    <div class="row">
      <div class="col_4 beta">
        <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInLeftBig;"></div>
        <div class="boxwsha column3" style="height: 585px;">
          <div class="zoomimg" id="gallery-1">
            </a> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvuBO-U0lAuOVWgBkxT4fehkYcYWMxN29TBA&usqp=CAU" alt="Fin Pobreza" class="full-width"> <span class="fadef"></span>
            
            <!-- END data-responsive --> 
           
          </div>
          <!-- END .zoomimg #lightgallery  -->
          <div class="clear"></div>
          <div class="col_6">
            <div class="date"> <i class="fa fa-calendar"></i> <span class="italic"></span> <a href="https://github.com/Matias-Bustamante/proyecto_final.git" class="linkline">{{item.fecha_alta}} by {{item.user}}</a> </div>
            <!-- END date --> 
          </div>
          <!-- END col_6 -->
          
         
          <!-- END col_6 -->
          <div class="clear"></div>
          <h3 class="title-post">Titulo:{{ item.asunto }}</h3>
          
          <div class="clear"></div>
         
          <!-- END fix-btn --> 
          
        </div>
        <!-- END boxwsha --> 
      </div>
      <!-- END col_4 -->

      
  <div class="col_4 beta">
    <h1>{{item.mensaje }}</h1>
   
  </div>

  
  </div>
 </div>
 {% endfor %}
 {% endif %}
  {% else %} 
          <h1>No se encontraron resultados</h1>
          <nav class="mt-2">
            <div class="container-fluid">
              <form class="d-flex" >
                <a href="{%url 'post:categoria' %}"><button class="btn btn-outline-success" type="button">Volver</button></a>
              </form>
            </div>
          </nav>
  {% endif %}
  {% endblock cuerpo %}

</body>
</html>