
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navegacion</title>
</head>
<body>
  
    <header class="main_h">
        <div class="menufix"> <a class="logo" href=""></a>
          <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
          <nav>
            <ul>
              <li><a class="out active animsition-link" href="{% url 'post:index' %}">Principal</a></li>
              <li class="line"><a class="out animsition-link" href="{% url 'post:categoria' %}">Categorias</a></li>
          
            </ul>
          </nav>
        </div>
        <!-- / row --> 
        
      </header>
    
</body>
</html>